@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100vh;
  vertical-align: top;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 10px;
}
body {
  width: 100vw;
  height: 100vh;
}
.body-inner {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/*명언*/
#quote {
  margin-bottom: 30px;
  font-size: 1.6rem;
}
#quote blockquote {
  color: #fff;
  font-style: italic;
}
/*시계*/
.time {
  margin-bottom: 30px;
  color: #fff;
  font-size: 50px;
}
/*로그인*/
.login-wrap {
  z-index: 100;
  position: fixed;
  right: 450px;
  bottom: 100px;
}
.login-wrap input {
  width: 400px;
  height: 50px;
  background: none;
  color: #fff;
  font-size: 30px;
  border: 1px solid red;
  text-align: center;
}
.login-wrap button {
  width: 50px;
  height: 50px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 100%;
  font-size: 16px;
}
#logout-btn {
  position: fixed;
  top: 50px;
  right: 20px;
}
.login-wrap h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
  font-family: "Edwardian Script...", serif;
}
.blind {
  display: none;
}
/*투두리스트*/
.todo-title {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  color: #fff;
  background: red;
  box-shadow: 3px 3px black;
}
.todo-box {
  width: 800px;
  height: 300px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px black;
}
#todo-form {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#todo-form input {
  width: 400px;
  text-align: center;
  margin: auto;
}
#todo-list li {
  width: 400px;
  height: 20px;
  line-height: 20px;
  margin: auto;
  margin-bottom: 5px;
  text-align: start;
  font-style: italic;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace, serif;
  background: #fff;
}
.trash-btn {
  float: right;
  background: transparent;
  border: 0;
  vertical-align: middle;
  /*color: mediumaquamarine;*/
  cursor: pointer;
}
.trash-img {
  width: 20px;
  height: 20px;
}

#weather {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #fff;
}
.bg-images {
  position: fixed;
  bottom: 0;
  right: 0;
}
.bg-images img {
  height: 700px;
}

@media (max-width: 768px) {
  .body-inner {
    width: 80%;
  }
  #quote {
    margin: 0 auto 10px;
    font-size: 14px;
  }
  .bg-images img {
    height: 30vh;
  }
  .login-wrap {
    width: 50%;
    z-index: 100;
    position: fixed;
    right: 30%;
    bottom: 7%;
  }
  .login-wrap h1 {
    font-size: 2rem;
  }
  .login-wrap input {
    width: 70%;
    height: 30px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border: 1px solid red;
  }
  .login-wrap button {
    width: 40px;
    height: 40px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 100%;
    font-size: 16px;
  }
  .todo-box {
    width: 100%;
    height: 35vh;
  }
  #todo-list li {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
  }
  #todo-form input {
    width: 100%;
    font-size: 10px;
  }
  .time {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
